:root {
  --main-bgNav-color: #e6ffe6;
  --main-logo-color:#447024;
  --main-text-color: #3e4444;
  --main-focus-color: #A9D888;
  --main-text-font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color:var(--main-text-color);
}
h1{
  color:var(--main-logo-color);
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: var(--main-bg-color);
}
#content > section{
  padding-left: 8rem;
  height: 100vh;
}
/**Navigation Bar**/

.Container > nav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2rem;
  transition: width 0.5s ease;
  background-color: var(--main-bgNav-color);
  position: fixed;
  height: 100%;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

#timer{
  display: block;
  padding: 1rem;
  background-color: #3e4444;
  margin-left: 0;
  width: fit-content;
  color: var(--main-bgNav-color);
  font-size: 1rem;
  z-index: 2;
  border-radius: 2rem;
  position: fixed;
  border: 3px solid var(--main-bgNav-color);
  margin-top: 0;
}

.navbar {
  padding-right: 2rem;
}

.navbar > ul {
  display: none;
}

.navbar > ul > li {
  padding: 0 5rem 10rem 0;
}

#logo {
  font-size: 3.5rem;
  transition: font-size 2s;
  padding-top: 10rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#logo > a{
  color: var(--main-logo-color);
  font-weight: 900;
}

.Container > nav:hover {
  width: 10%;
  padding: 5rem;
}



nav:hover .navbar {
  display: flex;
  flex-direction: column;
  opacity: 1;
  color: var(--main-text-color);
}

nav:hover #logo {
  padding: 5rem 0 5rem 0;
  font-size: 3.5rem;
  writing-mode: horizontal-tb;
  text-orientation: none;
}

nav:hover .navbar > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 900;
 font-size: 2rem;
 color: #1b1b1b;
}

.Container > #content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-left: 5rem;
}

#timer{
  display: block;
  padding: 1rem;
  background-color: #3e4444;
  margin-left: 0;
  width: fit-content;
  color: var(--main-bgNav-color);
  font-size: 1rem;
  z-index: 2;
  border-radius: 2rem;
  position: fixed;
  border: 3px solid var(--main-bgNav-color);
  margin-top: 0;
}

/** Content Styling **/

/** Home page **/
#content > #home{
  background-color: var(--main-text-color) !important;
}

#home > h1{
  font-size:4rem ;
}
#home p {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.5rem;
  color: var(--main-bgNav-color) !important;
  
}

#typing {
  white-space: pre-wrap;
  border-right: 2px solid;
  animation: blink-caret 0.7s step-end infinite;
  width: inherit;
  padding-right: 2rem;
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}


/** recipe Display section **/

#recipeSection{
  display: flex;
  flex-direction: column;
  background-color: #e6ffe6;
}

#recipeSection > nav {
  border-bottom: 1px solid black;
  margin-top: 2rem;
  padding-bottom: 2rem;
  display:flex;
  flex-direction: row;
}

#recipeContainer{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 2rem;
  padding: 2rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.card h1 {
  font-size: 1.5em;
  margin: 10px 0;
}

.ingredientlist,
.card-details {
  padding: 0 15px;
  text-align: left;
}

.ingredientlist h3,
.card-details h3 {
  margin-top: 0;
}

.ingredientlist ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

#Nofind {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000; /* Ensure it appears above other elements */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#addRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

#recipeForm {
  background: #fff;
  border: 3px solid var(--main-text-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

#recipeForm h1 {
  color: var(--main-text-color);
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: var(--main-text-color);
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: vertical;
}

#btnIngredients {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 15px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#btnIngredients > .ingredientContainer{
  display: flex;
  flex-direction: row;
  width: 50%;
}

#text-warning {
  font-size: 12px;
  color: var(--accent-color);
  display: block;
  margin-top: 5px;
}

#submitbTn {
  width: 100%;
  background-color: var(--main-bgNav-color);
  color: var(--button-text-color);
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitbTn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

#submitbTn:hover:enabled {
  background-color: darken(var(--main-bgNav-color), 10%);
}

#formSubmitMessage {overflow-wrap: normal;
  font-size: 2rem;  width:fit-content;
  height: fit-content;
  display: none;
  color: var(--main-logo-color);
  padding: 2rem;}